root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

# C# 命名规范
dotnet_naming_rule.interfaces_must_be_prefixed_with_i.severity = warning
dotnet_naming_rule.interfaces_must_be_prefixed_with_i.symbols = interface
dotnet_naming_rule.interfaces_must_be_prefixed_with_i.style = begins_with_i

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.capitalization = pascal_case

# 代码风格
csharp_prefer_braces = true:warning
dotnet_sort_system_directives_first = true
