# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

# Rider
.idea/

# Visual Studio
.vs/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Test results
TestResults/
*.trx
*.coverage

# NuGet
*.nupkg
*.snupkg
packages/

# Python
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# User-specific files
appsettings.Development.json
appsettings.Local.json
*.exe
*.dll
